<h1>To Do List</h1>
<h2>Add new patron</h2>
<hr />
<form action="/patrons/new" method="post">
  <label for="patron-name">Patron name:</label>
  <input id="patron-name" name="patron-name" type="text">
  <button type="submit">Add</button>
</form>
<h4><a href="/">Return home</a></h4>
